<% @page_title = @status.title %>
<div id="status">
  <div class="status"><span class="<%= @status.status_text.downcase %>"><%= @status.status_text %></span></div>
  <h1><%= @status.title %></h1>
  <%= "<p>#{@status.body}</p>".html_safe unless @status.body.blank? %>
  <% unless @problem.nil? %>
    <p id="problem">Up since <%= @problem.created_at.strftime("%Y-%m-%d %H:%M:%S") %> (<%= @problem.title %>)</p>
  <% end %>
</div>
